<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.philDo.stuget.mapper.UserMapper">
	<select id="getCrewList" parameterType="java.lang.Integer" resultMap="crewResultMap">
	<!-- <select id="getCrewList" parameterType="java.lang.Integer" resultType="com.philDo.stuget.model.UserVO"> -->
		select CT.CREW_SQ
			 , CT.USER_SQ
			 , CT.CREW_TYPE
			 , CT.CREW_NAME
			 , CT.CREW_LOC
			 , CT.CREW_LOCDT
			 , CT.CREW_MIN
			 , CT.CREW_MAX
			 , CT.CREW_ACCNUM
			 , CT.CREW_ACCNAME
			 , CT.CREW_CDATE
			 , CT.CREW_STDATE
			 , CT.CREW_FDATE
			 , CT.CREW_DDAY
			 , CT.CREW_ENDDATE
			 , CT.CREW_ADJSUC
			 , CT.CREW_ADJSUCDATE
			 , UT.USER_SQ
		     , UT.USER_ID
		     , UT.USER_NAME
		     , UT.USER_EMAIL
		     , UT.USER_LOC
		     , UT.USER_LOCDT
		     , UT.USER_CELLPHONE
		     , UT.USER_GENDER
		     , UT.USER_BIRTH
		     , UT.USER_TYPE
		     , UT.USER_ACCNUM
		     , UT.USER_ACCNAME
		     , UT.USER_CREWYN
		     , UT.USER_DATETIME
		     , UT.USER_SCO
		     , UT.USER_REPORT
		 from  CREW_TB CT
			 , USER_TB UT
		 where 1=1
		   and CT.USER_SQ = UT.USER_SQ
			<if test="userSq != null and userSq != ''">
				AND UT.USER_SQ = #{userSq}
			</if>
	 group by CT.USER_SQ
			, CT.CREW_SQ
	 order by CT.CREW_SQ;
	</select>
	
	<!-- join을 위한 resultmpa -->
 	<resultMap type="com.philDo.stuget.model.UserVO" id="userResultMap">
		<id 	column="USER_SQ" 		property="userSq"/>
  		<result column="USER_ID" 		property="userId"/>
  		<result column="USER_PW" 		property="userPw"/>
  		<result column="USER_NAME" 		property="userName"/>
  		<result column="USER_EMAIL"		property="userEmail"/>
  		<result column="USER_LOC"		property="userLoc"/>
  		<result column="USER_LOCDT"		property="userLocdt"/>
  		<result column="USER_CELLPHONE" property="userCellphone"/>
  		<result column="USER_GENDER" 	property="userGender"/>
  		<result column="USER_BIRTH" 	property="userBirth"/>
  		<result column="USER_TYPE" 		property="userType"/>
  		<result column="USER_ACCNUM" 	property="userAccNum"/>
  		<result column="USER_ACCNAME" 	property="userAccname"/>
  		<result column="USER_CREWYN" 	property="userCrewyn"/>
  		<result column="USER_DATETIME" 	property="userDatetime"/>
  		<result column="USER_SCO" 		property="userSco"/>
  		<result column="USER_REPORT" 	property="userReport"/>
  		<collection property="crewList" resultMap="crewResultMap" javaType="java.util.ArrayList"/>
  	</resultMap>
  	
  <resultMap type="com.philDo.stuget.model.CrewVO" id="crewResultMap">
  		<id		column="CREW_SQ"  		 property="crewSq"/>        
  		<result column="USER_SQ"  		 property="userSq"/>        
  		<result column="CREW_TYPE"		 property="crewType"/>      
  		<result column="CREW_NAME" 		 property="crewName"/>      
  		<result column="CREW_LOC"  		 property="crewLoc"/>       
  		<result column="CREW_LOCDT"		 property="crewLocdt"/>     
  		<result column="CREW_MIN" 		 property="crewMin"/>       
  		<result column="CREW_MAX"		 property="crewMax"/>       
  		<result column="CREW_ACCNUM"	 property="crewAccnum"/>    
  		<result column="CREW_ACCNAME"	 property="crewAccname"/>   
  		<result column="CREW_CDATE" 	 property="crewCdate"/>     
  		<result column="CREW_STDATE" 	 property="crewStdate"/>    
  		<result column="CREW_FDATE" 	 property="crewFdate"/>     
  		<result column="CREW_DDAY" 		 property="crewDday"/>      
  		<result column="CREW_ENDDATE"	 property="crewEnddate"/>   
  		<result column="CREW_ADJSUC" 	 property="crewAdjsuc"/>    
  		<result column="CREW_ADJSUCDATE" property="crewAdjsucdate"/>
  	</resultMap>
  	
  	
</mapper>

