<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<title>test page</title>
</head>
<body>
<table border="1">
            <thead>
                <tr>
                    <th>제목</th>
                    <th>작성자</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="list : ${list}">
                    <td th:text="${list.userSq         }"></td>
                    <td th:text="${list.userId         }"></td>
                    <td th:text="${list.userPw         }"></td>
                    <td th:text="${list.userName       }"></td>
                    <td th:text="${list.userEmail      }"></td>
                    <td th:text="${list.userLoc        }"></td>
                    <td th:text="${list.userLocdt      }"></td>
                    <td th:text="${list.userCellphone  }"></td>
                    <td th:text="${list.userGender     }"></td>
                    <td th:text="${list.userBirth      }"></td>
                    <td th:text="${list.userType       }"></td>
                    <td th:text="${list.userAccNum     }"></td>
                    <td th:text="${list.userACCname    }"></td>
                    <td th:text="${list.userCrewyn     }"></td>
                    <td th:text="${list.userDatetime   }"></td>
                    <td th:text="${list.userSco        }"></td>
                    <td th:text="${list.userReprot     }"></td>
                </tr>
            </tbody>
        </table>
</body>
</html>